body{
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;

}

.title{
    text-align: center;
   
    
}
.navContainer{
    /* border: solid navy; */
    display: flex;
    justify-content: space-around;
}

.summary{ 
    /* border: solid green; */
    height:10vh;
    margin: 12px;
    text-align:center;
}

.contact{
    /* border: solid red; */
    height:10vh;
    margin: 12px;

}

.experience{
    /* border: solid orange; */
    height:32vh;
    margin: 12px;

}

.education{
    /* border: solid black; */
    height: 32vh;
    margin: 12px;

}

.skills{
    /* border: solid purple; */
    height:32vh;
    margin: 12px;

}
.currentTitle{
    margin-top: 10px;
    font-weight:900;
    text-transform: uppercase;
}


.currentTitle1{
    margin-top: 10px;
    font-weight:900;
    text-transform: uppercase;
}



.currentTitle2{
    margin-top: 10px;
    font-weight:900;
    text-transform: uppercase;
}

.currentTitle3{
    margin-top: 10px;
    font-weight:900;
    text-transform: uppercase;
}


.currentTitle4{
    margin-top: 10px;
    font-weight:900;
    text-transform: uppercase;
}
.button{
    background-color: blue;
    color: white;
    font-weight: bold;
    border: solid black 2px;
    border-radius: 10%;
    margin: 2px;
    height: 6vh;

}
